.Checkbox {
  display: flex;
  align-items: center;
  > label {
    margin-left: 20px;
    span {
      display: block;
      letter-spacing: 0.14px;
      color: #464646;

      &.Label {
        font-size: 1rem;
        line-height: 21px;
      }
      &.SubLabel {
        font-weight: 300;
        font-size: 0.8rem;
        line-height: 16px;
      }
    }
  }
  .ui.toggle.checkbox {
    input:checked ~ label:before {
      background-color: #000 !important;
    }
    label {
      &::before {
        height: 2rem;
        width: 4rem;
      }
      &::after {
        height: 2rem;
        width: 2rem;
      }
    }
  }
}
