.LandingPage {
  display: flex;
  justify-content: center;
  > .Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .Intro {
      width: 100%;
      position: relative;
    }
  }
}
