.EventItem {
  .Information {
    display: flex;
    flex: 2;

    .Image {
      width: 100px;
      overflow: hidden;
      border-radius: 5px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .EventDetail {
      margin-left: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h3 {
        font-size: 1rem;
        margin: 0;
      }
      span {
        color: #c5c7cd;
        font-size: 0.9rem;
      }
    }
  }
  .Stats {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 20px;
      min-width: 50px;

      &.More {
        cursor: pointer;
      }
    }
  }
}

.EventItemPopup {
  > div {
    cursor: pointer;
    &:hover {
      font-weight: 500;
    }
  }
}
