@import "../../variables.scss";
.Header {
  padding: 15px 20px;
  .Container {
    display: flex;
    justify-content: space-between;

    &.DisabledLogo {
      justify-content: flex-end;
    }
    .logoSection {
      cursor: pointer;
    }
    .Menu {
      .ui.menu {
        .item {
          font-family: "Poppins", sans-serif !important;
          text-decoration: none;
          color: #474747;
          font-weight: 500;
          transition: color 0.15s ease-out;
          &.active,
          &:hover {
            color: $theme-color;
          }
        }
      }
    }
  }
}
