@import "../../../variables.scss";
.Survey {
  height: 100%;

  .Content {
    width: 100%;
    position: relative; /* If you want text inside of it */
    height: 46vh;
    border: 1px solid $border-color;
    border-top: unset;
    iframe {
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      body {
        &::-webkit-scrollbar-thumb {
          -webkit-border-radius: 3px;
          border-radius: 3px;
          background: rgba($color: #000000, $alpha: 0.1);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}
