@import "../../../variables.scss";
.Survey {
  height: 100%;

  .Content {
    padding: 15px;
    background-color: #fff;
    .radio,
    .checkbox {
      margin: 5px 0;
    }
    .Question {
      font-size: 1.3rem;
      font-weight: 500;
      margin-bottom: 10px;
    }

    .RadioGroup {
      display: flex;
      flex-direction: column;
    }

    .CheckboxGroup {
      display: flex;
      flex-direction: column;
    }

    .InputQuestion {
      .TextBox {
        .Input {
          width: 90%;
        }
      }
    }
  }
}
