@import "../../../variables.scss";

.QaA {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5px 20px;
  height: 100%;
  border: 1px solid $border-color;
  border-top: unset;
  > div {
    width: 100%;
  }
  .TextBox {
    margin-bottom: 10px;
    .Input {
      width: 100%;
      height: 3.75rem;
      box-shadow: unset;
      input {
        font-size: 1.2rem;
        line-height: 2.2rem;
      }
    }
  }
  .Submit {
    display: flex;
    .TextBox {
      margin: 0;
      .Input {
        width: 100%;
        height: 3.75rem;

        input {
          font-size: 1.2rem;
          line-height: 2.2rem;
        }
      }
    }

    .Button {
      height: 3.75rem;
      padding: 0 10px;
      font-size: 1.2rem;
      line-height: 2.2rem;
      border: 1px solid #dbdbdb;
      box-sizing: border-box;
      box-shadow: unset;
      border-radius: 5px;
      cursor: pointer;
      margin-left: 10px;
    }
  }
}
