@import "../../variables.scss";
.Detail {
  width: 100%;
  display: flex;
  justify-content: center;
  .Sidebar {
    flex: 1;
  }
  .Main {
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0;
    width: 100%;
    .Header {
      position: absolute;
      top: 0;
      right: 0;
    }
    .Description {
      .editor {
        width: 615px;
      }
    }
    .SubmitSection {
      display: flex;
      justify-content: flex-end;
      width: 70%;
      button {
        font-weight: normal;
        font-size: 1.2rem;
        line-height: 25px;
        height: 2rem;
        &.Continue {
          background-color: $theme-color;
          color: #fff;
        }

        &.Discard {
          background: #ffffff;
          margin-right: 20px;
        }
      }
    }
  }
}
