@import "../../../variables.scss";
.DropZone {
  margin: 10px;

  .DragZone {
    height: 100%;
    display: flex;
    flex-direction: column;

    .Move {
      border: 1px solid $border-color;
      border-bottom: unset;
      display: flex;
      justify-content: space-between;
      background-color: #a52a2a;
      color: white;
      padding: 5px 10px;
      padding-left: 20px;
      cursor: move;
    }
  }
}
