@import "../../variables.scss";

.SignUp {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .Title {
    font-size: 3rem;
    line-height: 4.8rem;
    font-weight: 600;
    color: $theme-color;
    margin-bottom: 30px;
  }

  .LoginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    .TextBox {
      .Input {
        width: 33rem;
        height: 3.75rem;

        input {
          font-size: 1.2rem;
          line-height: 2.2rem;
        }
      }
    }
    .SubmitSection {
      display: flex;
      width: 100%;
      justify-content: space-between;

      button {
        width: 100%;
        color: #fff;
        background: $theme-color;
        transition: transform 0.1s ease-out;

        &.Button {
          height: 3.75rem;
          font-size: 1.2rem;
          line-height: 2.2rem;
        }

        &:hover {
          transform: scale(1.01);
        }
      }
    }

    span {
      margin: 20px 0;
      font-size: 1.2rem;
    }

    .SocialLogin {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      justify-content: space-evenly;
      button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3.75rem;
        font-size: 1.2rem;
        line-height: 2.2rem;
        position: relative;
        border: none;
        border: 1px solid $border-color;
        box-sizing: border-box;
        box-shadow: 0px 2px 16px #ececec;
        border-radius: 5px;
        cursor: pointer;
        background: none;
        margin-bottom: 5px;
        transition: transform 0.1s ease-out;

        &:hover {
          transform: scale(1.01);
        }
        &:focus {
          outline: none;
        }
        span {
          font-weight: 600;
        }
        img {
          position: absolute;
          left: 10px;
          transform: scale(0.7);
        }
      }
    }
  }
}
