@import "../../variables.scss";

.Onboard {
  padding: 100px 13%;
  .Title {
    .Text {
      p {
        margin: 0;
      }
      p {
        &:first-child {
          font-size: 3.2rem;
          line-height: 4.8rem;
          color: $theme-color;
          font-weight: 600;
        }

        &:last-child {
          font-size: 3.1rem;
          font-weight: 500;
          line-height: 4rem;
          width: 700px;
          color: #383838;
        }
      }
    }
  }

  .Content {
    margin-top: 100px;

    .Events {
      margin-top: 30px;
      width: 100%;
      > .Title {
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.78rem;
      }
      .EventsContainer {
        .EventItem {
          padding: 5px;
          width: 17.14rem;
          cursor: pointer;
          .Image {
            height: 11.42rem;
            width: 100%;
            img {
              width: 100%;
              border-radius: 5px;
              height: 100%;
            }
          }
          .Info {
            .Category {
              font-weight: 600;
              color: #002b37;
              font-size: 0.9rem;
            }
            .Title {
              font-size: 1.28rem;
              font-weight: 600;
              color: #464646;
              margin: 5px 0;
              line-height: 1.5rem;
              letter-spacing: 0.17px;
            }
            .icon {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
}
