@import "../../variables.scss";

.Onboard {
  padding: 100px 13%;
  .Title {
    .Text {
      p {
        margin: 0;
      }
      p {
        &:first-child {
          font-size: 3.2rem;
          line-height: 4.8rem;
          color: $theme-color;
          font-weight: 600;
        }

        &:last-child {
          font-size: 3.1rem;
          font-weight: 500;
          line-height: 4rem;
          width: 700px;
          color: #383838;
        }
      }
    }
  }

  .Content {
    margin-top: 100px;
  }
}
